/* Fondo */
body {
    background: linear-gradient(180deg, #fff8f0 0%, #fdf6e3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    margin: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
}

body.loaded {
    opacity: 1;
}

header,
.container,
footer {
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.container {
    width: 100%;
    max-width: 400px;
    min-height: 100vh;
    padding: 30px 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Logo */
.Logo {
    width: 70%;
    max-width: 250px;
    margin: 20px auto 40px auto;
    display: block;
}

/* Inputs */
input {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    color: #404040;
    outline: none;
}

input:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

/* Botón iniciar sesión */
.iniciar_sesion {
    display: block;
    width: 105%;
    padding: 14px;
    background: transparent;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    border: none;
    color: #3877AA;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0;
    position: relative;
}

.iniciar_sesion:hover {
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}


/* Footer */
footer {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.no_cuenta {
    font-size: 12px;
    color: #3877AA;
    margin-bottom: 10px;
    position: relative;
    top: 8px;
}

.registrarse {
    font-size: 12px;
    font-weight: 400;
    background: none;
    border: none;
    color: #3877AA;
    cursor: pointer;
    margin-left: 5px;
}

.registrarse:hover {
    color: #003E71;
}

